@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 268 32 9%;
    --foreground: 0 0 100%;

    --primary: 255 43 48%;
    --primary-foreground: var(--foreground);

    --border: 294 15 27%;

    --radius: 0.46875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
